header {
    float: left;
    margin: 0rem;
    width: 200px;
    flex: 1;
}

.header_top {
    background-color: #778899;
    margin: -1rem 0rem;
    padding: 1rem 0rem;
}

.header_main {
    display: flex;
    flex-direction: row;
    height: 770px;
    margin-top: -1rem;
    padding-top: 1rem;
    background-color: rgb(104, 117, 131);
}

.header_main nav {
    list-style: none;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

.header_main nav a{
    margin: 0.5rem 0rem;
    text-decoration: none;
    color: black;
}

.header_bottom {
    background-color: #778899;
    margin: -1rem 0rem;
    padding: 1rem 0rem;
}